body {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    font: sans-serif;
}

h4 {
    border-bottom: 2px solid #CCCCCC;
}

.headline {
    text-align: center;
    border-width: 5px;
    border-style: solid none solid none;
    border-color: hotpink;
    background-color: pink;
}

/*
.lastupdate {
    text-align: right;
    font-size: 12px;
}
*/

.HeaderIframe {
    display: block;
    width: 100%;
    height: 300px;
    border: "0";
}
