body {
    background-color: #FFFFFF;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    border-bottom: 3px solid #CCCCCC;
    border-left: 15px solid #CCCCCC;
    padding-left: 10px;
}

h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 275px;
    max-width: 300px;
    border-bottom: 1px solid #CCCCCC;
}

.entry-content h3:not(h3:nth-of-type(1)) {
    padding-top: 30px;
}

.numbering3 h3 {
    counter-increment: counter-h3;
}

.numbering3 h3:before {
    content: counter(counter-h3)" ";
}

.uromannumbering3 h3 {
    counter-increment: counter-h3;
}

.uromannumbering3 h3:before {
    content: counter(counter-h3, upper-roman)" ";
}

.numbering4 h4 {
    counter-increment: counter-h4;
}

.numbering4 h4:before {
    content: counter(counter-h4)". ";
}

.minicontent h4:not(h4:nth-of-type(1)) {
    padding-top: 30px;
}

.miniminicontent h5:not(h5:nth-of-type(1)) {
    padding-top: 30px;
}

.miniminicontent {
    padding-left: 5px;
}

.headline {
    text-align: center;
    border-width: 5px;
    border-style: solid none solid none;
    border-color: hotpink;
    background-color: pink;
}

.lastupdate {
    text-align: right;
    font-size: 12px;
}

.HeaderIframe {
    display: block;
    width: 100%;
    height: 200px;
    border: 0;
}

.FooterIframe {
    display: block;
    width: 100%;
    height: 150px;
    border: 0;
}

.backtotop {
    max-width: 275px;
    border-top: 1px solid #CCCCCC;
    margin-top: 40px;
    padding-top: 20px;
}

.penname {
    text-align: right;
    font-size: 15px;
    padding-top: 0px;
}

.anytable {
    border-collapse: separate;
    border-spacing: 0px 3px;
}

.mocktable tr td:nth-of-type(2),
.mocktable tr td:nth-of-type(4),
.mocktable tr td:nth-of-type(5) {
    text-align: right;
}

.anytable tr th {
    text-align: left;
}

.anytable tr th:not(th:nth-of-type(1)) {
    padding-left: 14px;
}

.anytable tr td:not(td:nth-of-type(1)) {
    padding-left: 14px;
}

.nowrap1 tr th:nth-of-type(1) {
    white-space: nowrap;
}

.nowrap1 tr td:nth-of-type(1) {
    white-space: nowrap;
}

.nowrap2 tr th:nth-of-type(2) {
    white-space: nowrap;
}

.nowrap2 tr td:nth-of-type(2) {
    white-space: nowrap;
}

.nowrap3 tr th:nth-of-type(3) {
    white-space: nowrap;
}

.nowrap3 tr td:nth-of-type(3) {
    white-space: nowrap;
}

.right3 tr td:nth-of-type(3) {
    text-align: right;
}